In [1]:
'hello world'

'hello world'

In [2]:
print("Hello world")

Hello world

In [8]:
#the interpreter acts as a simple calculator
#Examples:-
2+2

4

In [9]:
7/3   #integer division returns the float value

2.3333333333333335

In [10]:
#variable(the eqal sign(=) is used to assign a value to a variable)
width = 20
hight = 5 * 9
width * hight

900

In [13]:
X=Y=Z=0  #a value can be assigned to sevarla variables simultanously
print(X,Y,Z)

0 0 0

In [14]:
type('hello world')  #If you are not sure what type a value has, the interpreter can tell you.

str

In [15]:
type(232.45)

float

In [16]:
type(45)

int

In [17]:
print(1,000,000,000)  #When you type a large integer, you might be tempted to use commas between groups of three digits, as in 1,000,000. This is not a legal integer in Python, but it is legal:

1 0 0 0